<!DOCTYPE html>
<html>
  <head>
    <title>Quivial</title>
	  
	         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" 
	         integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
			 
			 <style>
			 body {
	          background-image: url(https://dl.dropboxusercontent.com/s/2scds9l73b6yrea/quiz_img5.jpg?dl=0);
	            }
			

}
	         </style>
	
  </head>
          <div class="container d-flex flex-column align-items-center">
          <h1>Best Dad Jokes</h1>
		  <h2>All we trying to do is enlighten your day, please enjoy</h2>
		  
		  <div class="container d-flex flex-column align-items-center">
		            <h2 class="card-title">MUST READ!!!</h2>
                    <h4 class="card-title">Rules</h4>
                    
                        <ul style="list-style:decimal;">
                            <li>Laugh out loud</li>
                            <li>Take a break from whatever you doing</li>
                            <li>Share a laugh with a friend</li>
                        </ul>
					<h4 class="card-title">Easy, right???</h4><br>
                    
                    <h2><a href="{% url 'quivial:play' %}">Let's Laugh</a></h2>
					
             </div>  
		  
          
		  </div>



</html>
